<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="landing" href="/tabs/landing">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="asignaturas" href="/tabs/asignaturas">
      <ion-icon aria-hidden="true" name="school"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="camara" href="/tabs/camara">
      <ion-icon aria-hidden="true" name="scan-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="justificativos" href="/tabs/justificativos">
      <ion-icon aria-hidden="true" name="mail"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="view-user" href="/tabs/view-user">
      <ion-avatar>
        <img [src]="'assets/placeholder.png'" alt="fotousuario" />
      </ion-avatar>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
